body{
	background-image: url("bac.jpg");

	
}



.offer{
	
	background-color:#F9F9F9;
}

container{
	
	height:40px;
	background-color:#9AC0CD;
	text-align:center;
	
}



#gs a:hover{
	
	font-size:18px;
	
}




.footer img:hover{

  transition-timing-function: ease-in;
	background-color:green;
border-radius:22%;
	
}

.gallery figure{
	position:static;
	display:inline-block;
	width:100%
	min-height:100px;
	margin-right:10px;
	
	
	
}

.offer2 figure{
	line-height:1px;
	display:inline-block;
	width:100%
	min-height:100px;
	margin-right:10px;
	position:relative;
	
	
}


.dp{
	
	padding:90px 0px 0px 0px;
	text-align:center;
	font-family:verdana;
	color:white;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('bg.jpg');
	height:540px;
	
}



.co{
	margin-top:-53px;
	border-radius:33%;
	height:80px;
	background-color:#001C25;
	
}
.top{
	
	border-bottom:4px solid orange;
	
}


.topics h2{
	margin-top:62px;
	text-align:center;
}


#b li a{
	
	text-align:center;
	
}
.gallery img{
	
	border-radius:50%;
}

.gallery img:hover{
	
	-moz-box-shadow: 11px 12px 12px #000000;
 -webkit-box-shadow: 11px 15px 12px #000000;
  box-shadow: 1px 14px 12px #000000;
	
}


#gg{
	
	-moz-box-shadow: -1px 4px 12px #000000;
 -webkit-box-shadow: -1px 8px 12px #000000;
  box-shadow: -1px 4px 8px #000000;
	height:73px;
	z-index:1;
	background-color:#001C25;
}

#gs{
	margin:20px 0px 0px 0px;
	position:relative;
	font-family:verdana;
	border-bottom:3px solid orange;
	background-color:white;
	height:73px;
	border-right:3px solid white;
		border-left:3px solid white;
			border-top:3px solid white;
}

.footer{
	padding-top:30px;
	color:white;
	font-family:verdana;
	background-color:#001C25;
	
}


.offer h2{
	
	font-family: actor font;
	text-align:center;
	
	
}

.bottom-container{
margin-top:33px;
	height:30px;
	border-bottom: 4px solid orange;
	background-color:white;
}

.cello{
	
	text-align:center;
}
	
.list a{
	color:black;
	text-decoration:none;
	
}	
	
.story{
	color:black;
	display:inline-block;
	width:100%
	min-height:100px;
	margin-right:10px;
	
}
.first{
		height:66.7%
		background-color:red;	
	}
	
ul.list{

	text-decoration:none;
	text-align: center;
	color:black;
	font-family:verdana;
	padding:3px 0px 0px 0px;
}

li{
	padding:20px;
	display:inline;
}

#imh>li{
	
display:inline;
padding:100px;
	
}

.list a:hover{
	border:3px solid orange;
	color:black;
	text-decoration:none;
	font-size:15px;
}
